<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dental Clinic</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <style>
        .grayBorder{
            border:6px #e9ecef solid;
         }
       #turnblue:hover{
  color: #318CE7;
  text-decoration-color: #318CE7;
  transition: 1s;
}
        body{
    background-color: #e9ecef;
  }
    
     </style>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Dental Clinic</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto">
                
                <a class="nav-link d-flex" href="/login">LOGIN</a>
                <a class="nav-link d-flex" href="/register">REGISTER</a>

 
              </div>
             
            </div>
            
          </div>
      </nav>

<div style="background-image:url(slider1.jpg); width: 100%;"><div class="container" style="height: 400px;"> <img src="https://media.istockphoto.com/id/1352594904/photo/close-up-portrait-of-a-male-dentist-giving-a-high-five-to-little-girl-at-dental-clinic.webp?b=1&s=170667a&w=0&k=20&c=cWAKYDLxSW3OyOlHlsERq6f-vLZmSoWk1djvEE5Sn7A=" style="width: 70%; margin-left: 15%; height: 100%;     border: 2px solid black;"></div></div>
<div class="container" style="background-color: white; border-radius: 20px; padding: 20px; margin-top:20px; margin-bottom: 20px;">
    <h1 style="text-align: center; margin-top: 40px; margin-bottom: 80px;"> COSMETIC DENTAL CARE PACKAGE</h1>
    <h2 style="text-align: center; margin-top: 40px; margin-bottom: 80px;">Importance of COSMETIC dental care</h2>
    <div style="width: 100%;"> <span style="margin-right: auto; margin-left: auto; width: 60%; height: 400px; display: table;"><img class="grayBorder" src="COSMETIC.jpg" style="height: 100%; width: 100%;"></span></div>
    <p style="margin-top: 40px;">Clove Dental Care Package has been designed keeping in mind the stipulation of the World Health Organization as well India Dental Association for annual visit of every person to ensure maintenance of oral health.The COSMETIC package will include a comprehensive examination of the teeth, gums, jaw bone, jaw joint, sinusis, teeth alignment and oral habits. The dental surgeon has been trained to undertake these examinations for you using unlimited X-rays and also provide a thorough scaling (2 sittings) in addition to carrying other dental treatments free of cost (Up to the Care Voucher) or on a-heavy discount of 10%. The package also provides complimentary oral health AIDS to maintain your teeth and gums imperfect conditions.The treating doctor will also undertake demonstration of the brushing habit and also other specialised oral care aids like interdental brush, dental flails, special brush for orthodontia and the use of anti sensitive paste.</p>
    <div style="width: 100%;"> <span style="margin-right: auto; margin-left: auto; width: 40%; height: 400px; display: table;"><img class="grayBorder" src="preventive1.jpg" style="height: 100%; width: 100%;"></span></div>

    <h3 style="margin-top: 40px;">Why preventative dental care is important?</h3>
    <p style="margin-top: 20px;">The dentist monitors the condition of your teeth and gums
      People often think brushing and flossing their teeth daily is enough to give their teeth the spark they want. This is far from the truth. As much as brushing is an essential step for oral hygiene, patient's need to check in with a dentist who can do a thorough check and identify any developing conditions.

     <p style="margin-top:10px"><strong>  You save money</strong>The logic behind why most people avoid dental visits is that they want to save money. Granted, dental appointments might be costly. However, they are not as expensive as they would be if the patient develops a condition that would have otherwise been prevented. Think about it; how much would it cost to go for teeth extraction and replacement? Is it not cheaper to go for the COSMETIC dental appointment where a dentist can diagnose your oral condition early on? Yes! And much less pain and frustration in the process. </p>
        
    <p>A trip to the store to buy oral hygiene products can be overwhelming. From the thousands of products ranging from toothbrushes to toothpaste that have several ingredients; knowing what to choose can be a challenge. It gets even worse when every product promises the best results. A COSMETIC dental visit will give patients a professional who will talk to them about medically approved products for dental care. Moreover, they always give additional information such as the right technique to clean your teeth and mouth, and a proper diet to follow.</p>   
<div style="width: 100%; margin-top: 40px;"> <span style="margin-right: auto; margin-left: auto; width: 60%; height: 400px; display: table;"><img class="grayBorder" src="preventive2.jpg" style="height: 100%; width: 100%;"></span></div>

<h3 style="margin-top: 40px;">Advantages and Benefits of Cosmetic Dentistry</h3>
<ul>
  <li>
    <b>Improved Appearance – </b>While cosmetic dentistry is not all about looks, it’s no secret that improving your appearance is one of the first benefits you’ll notice and appreciate after your cosmetic dentistry procedure(s).
    <p>Besides improving that smile, a boost in your self-confidence is sure to be a welcome benefit of cosmetic dentistry as well. Whether you’ve endured years of discolored teeth, crooked teeth, or more, your self-esteem has most likely suffered. However, these things are now easily changed, and the quality of life improved for thousands of people.
    </p>
  </li>
  <li>
    <b>Improved Nutrition – </b>Probably the most important benefit of cosmetic dentistry is a better, more nutritious overall diet that will be possible. For instance, if you have missing back molars, you probably are not eating things like meat that require you to grind and chew your food more thoroughly. Because of this, your body could be lacking the protein it needs to repair the muscles and bones throughout your body and more.
  </li>
  <li>
   <b> Achieve Better Oral Health –</b> When your teeth are straight and not overlapping, keeping your teeth clean and in tip-top shape is much easier for you and your dentist. Flossing, in general, will be a much simpler task with straight teeth, and food won’t be getting stuck as often in the first place when the gaps (or lack thereof) are improved. In addition, you’ll find the decay that your hygienist and dentist find will be quite minimal compared to before your cosmetic dentistry procedures.
  </li>
 
</ul>
</div>
<!-- Footer start -->
<footer class="text-center text-lg-start bg-light text-muted">

<section
class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
>
<!-- Left -->
<div class="me-5 d-none d-lg-block">
  <span>Get connected with us on social networks:</span>
</div>
<!-- Left -->

<!-- Right -->
<div>
  <a href="" class="me-4 text-reset">
   facebook
  </a>
  <a href="" class="me-4 text-reset">
    twitter
  </a>
  <a href="" class="me-4 text-reset">
  google
  </a>
  <a href="" class="me-4 text-reset">
    instagram
  </a>
  <a href="" class="me-4 text-reset">
   linkedin
  </a>
  <a href="" class="me-4 text-reset">
  github
  </a>
</div>
<!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
<div class="container text-center text-md-start mt-5">
  <!-- Grid row -->
  <div class="row mt-3">
    <!-- Grid column -->
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h6 class="text-uppercase fw-bold mb-4">
        <i class="fas fa-gem me-3"></i>Dental Clinic
      </h6>
      <p>
       We at our clinic provide our patients the best experience and most reliable reports. We keep our machines updated and error free with regular maintenance
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">
        Products
      </h6>
      <p>
        <a href="/swasth" class="text-reset">SwasthFit</a>
      </p>
      <p>
        <a href="/preventive" class="text-reset">Preventive Package</a>
      </p>
      <p>
        <a href="/elderly" class="text-reset">Elderly Package</a>
      </p>
      <p>
        <a href="/cosmetic" class="text-reset">Cosmetic Package</a>
      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">
        Useful links
      </h6>
      <p>
        <a href="/login" class="text-reset">Login</a>
      </p>
    
      <p>
        <a href="/register" class="text-reset">Register</a>
      </p>
      <p>
        <a href="/userHome" class="text-reset">Book Appointment</a>
      </p>
      <p>
        <a href="" class="text-reset">Help</a>
      </p>
    </div>
 

    
    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
       
      <h6 class="text-uppercase fw-bold mb-4">
       &nbsp;&nbsp; Contact
      </h6>
      <p><i class="fas fa-home me-3"></i> India, Mathura 208012, UP</p>
      <p>
        
        <i style="font-size:18px; display: inline; vertical-align: middle;" class="material-icons">email</i> DentalClinic@gmail.com
      </p>
      <p><i style="font-size:18px; display: inline; vertical-align: middle;" class="material-icons">support_agent</i>+ 01 234 567 88</p>
      <p><i style="font-size:18px; display: inline; vertical-align: middle;" class="material-icons">support_agent</i>+ 01 234 567 89</p>
    </div>
    
  </div>
  
</div>
</section>

</footer>

<!-- footer end -->
 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  
  </body>
  </html>
      
